@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Condensed";
  user-select: none;
}

body {
  color: white;
}

/* Estilizando a barra de rolagem para navegadores Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgb(8,8,8);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(35,35,35);
}

::-webkit-scrollbar-button {
  background-color: rgb(8,8,8);  
}

/* Estilizando a barra de rolagem para o Firefox */
scrollbar {
  width: 8px;
}

scrollbar-track {
  background-color: black;
}

scrollbar-thumb {
  background-color: red;
}

scrollbar-button {
  background-color: yellow;
}

